<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h5> Exercise 1: Create a Jupyter Notebook </h5>

We created a new Jupyter notebook called DataScienceEcosystem.ipynb

<H1> Assignment: </H1>

We are asked to create a Jupyter notebook file, using both markdown and code cells.

<h5> Exercise 2: Create a markdown cell with the title of the notebook. <h5>

<H1> Data Science Tools and Ecosystem </H1>

<h5> Exercise 3 - Create a markdown cell for an introduction <h5>

<h2>Introduction </h2>

In this notebook we provide a summary of data science tools and their ecosystem.

<h5> Exercise 4 - Create a markdown cell to list data science languages </h5>

Some  popular languages used by Data scientists include:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C
7. Julia

<h5> Exercise 5: Create a markdown cell to list data science libraries.</h5>

Some popular libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. SKLearn
4. Keras
5. Pandas
6. TensorFlow
7. Matplotlib

<h5> Exercise 6: Create a markdown cell with a table of Data Science tools.</h5>

Here we present some Data science tools in a table:

| Data Science Tools | Example Usage |
| ------------------ | ------------- |
| Apache Spark       | Analytics     |
| Apache Airflow     | Data Preprocessing |
| Apache Cassandra   | Database Management|

<h5> Exercise 7: Create a markdown cell introducing arithmetic expression examples.</h5>

In the following code cells we provide examples of aritmetic expressions and calculations.

In [1]:
# Arithmetic operations
5 + 5

10

In [2]:
# Arithmetic operations
code0 = compile("10 - 2 + 43/2", "<string>", "eval")
eval(code0)

29.5

<h5> Exercise 8: Create a code cell to multiply and add numbers.</h5>

In [3]:
# Multiply then add numbers
(2*5) + 10

20

In [4]:
# add then multiply numbers
(12 + 8) * 3

60

<h5> Exercise 9: Create a code cell to convert minutes to hours.</h5>

The code function will take as inputs minutes and return the number of hours they equate to.

In [11]:
def convert_minutes_to_hours(minutes):
    if minutes < 0:
        raise ValueError("Minutes cannot be negative")
    
    hours = minutes // 60
    remaining_minutes = minutes % 60
    return hours, remaining_minutes

# Example usage:
minutes = 457
hours, remaining_minutes = convert_minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours} hours and {remaining_minutes} minutes.")

457 minutes is equal to 7 hours and 37 minutes.

<h5> Exercise 10: Insert a markdown cell to list objectives</h5>

<h4> Objectives:</h4>

- List popular Data Science Languages
- Create a markdown table 
- Create code cells of examples of arithmetic expressions
- create a code cell to convert from minutes to hours

<H2> Author </H2>

Jack Templeton